.passwordFieldStyle {
        height: 75%;
        min-height: 3rem;
        width: 100%;
        font-family: "Nunito", "poppins", serif;
        padding: 0 1rem;
        border-radius: 0.5rem;
        border: 1px solid #76453b;
        color: #76453b;

        filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.5));

        &::placeholder {
                padding: 0 1rem;
        }

        &:focus-visible {
                outline-color: #76453b;
        }
}

.inputFieldWrapper {
        position: relative;
}

.passwordShowBtn {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        max-width: 2.5rem;
        max-height: 2.5rem;
        background-color: transparent;
        border: transparent;
        margin-right: 0.5rem;
}

.passwordFieldIcon {
        max-height: 95%;
        color: #76453b;
}

@media screen and (min-width: 400px) and (max-width: 1080px) and (orientation: portrait) {
        .passwordFieldStyle {
                height: 7vw;
                border-radius: 1vw;
                font-size: 2.4vw;
        }

        .passwordShowBtn {
                min-height: 5vw;
                min-width: 5vw;
        }

        .passwordFieldIcon {
                min-height: 4vw;
                min-width: 4vw;
                color: #76453b;
        }
}

/*Media Queries for Tablets and Laptops*/
/* Horizontal Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        /* Styles for horizontal tablets */

        .passwordFieldStyle {
                height: 4vw;
                border-radius: 1vw;
                font-size: 2vw;
        }
}

/* Laptops with Smaller Screens */
@media screen and (min-width: 1025px) and (max-width: 1365px) and (orientation: landscape) {
        /* Styles for laptops with smaller screens */

        .passwordFieldStyle {
                height: 3.8rem;
                font-size: 1.6rem;
        }
}

/* Laptops with Screen Widths Between 1366px and 1920px */
@media screen and (min-width: 1366px) and (max-width: 1919px) and (orientation: landscape) {
        /* Styles for laptops with screen widths between 1366px and 1920px */
        .passwordFieldStyle {
                height: 3.8rem;
                font-size: 1.6rem;
        }
}

/* Full HD Screens */
@media screen and (min-width: 1920px) and (orientation: landscape) {
        /* Styles for full HD screens */
        .passwordFieldStyle {
                height: 3.8rem;
                font-size: 1.6rem;
        }
}
